.menu {
    color:#ffffff;
    padding-top: 20px;
    padding-bottom: 240px;
    padding-left: 20px;
    font-size: 40px;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    
     /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 70px; /*задаем высоту*/
    position: relative;
    
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
     /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color:#ffffff; /*меняем цвет ссылок*/
    
    
    line-height:30px; /*ровняем меню по вертикали*/
    display: block; 
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
}   